
<div class="text-center">
    <h2 class="display-4">Flix Movies & TV Shows</h2>

    @foreach(Series serie in ViewBag.Series){
        <div class="card" style="width: 18rem;">
            <img src=@serie.ImagenSerie class="card-img-top" alt="...">
            <div class="card-body">
                <h5 id="NombreDeSerie">@serie.Nombre</h5>
                <p class="Descripcion">@serie.Sinopsis</p>
                <button type="button" data-bs-toggle="modal" data-bs-target="#Modal" onclick="MostrarActores(@serie.IdSerie, '@serie.Nombre', '@serie.ImagenSerie')" class="btn btn-primary actores">Info de actores</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#Modal" onclick="MostrarInfoSerie(@serie.IdSerie, '@serie.Nombre', '@serie.ImagenSerie')"  class="btn btn-primary series">Info de la serie</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#Modal" onclick="MostrarTemporadas(@serie.IdSerie, '@serie.Nombre', '@serie.ImagenSerie')"  class="btn btn-primary temporadas">Info de temporadas</button>
            </div>
        </div>
    }

    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NombreSerie"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="img-resp" class="card-img-top" alt="...">
                    <p id="informacion"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>
